<div class="container">
  <h1>Angular Editor</h1>
  <p><a href="https://github.com/gear-group/angular-editor">Get it here</a></p>

  <h4>Floating toolbar</h4>
  <angular-editor
    id="floatingEditor"
    [(ngModel)]="floatingHtmlContent"
    [config]="floatingConfig"
    container="body"
    (ngModelChange)="onChange($event)"
    (blur)="onBlur($event)"
  ></angular-editor>
  <p class="html">HTML Output: {{ floatingHtmlContent }}</p>

  <h4>Top toolbar</h4>
  <angular-editor
    id="editor1"
    [(ngModel)]="htmlContent1"
    [config]="config1"
    (ngModelChange)="onChange($event)"
    (blur)="onBlur($event)"
  ></angular-editor>
  <p class="html">HTML Output: {{ htmlContent1 }}</p>
  <h4>Bottom toolbar in form</h4>
  <form [formGroup]="form">
    <angular-editor
      autofocus="true"
      id="editor2"
      formControlName="signature"
      [config]="config2"
      (ngModelChange)="onChange2($event)"
    ></angular-editor>
  </form>
  <p>Form Value: {{ form.value.signature }}</p>
  <p>Form Status: {{ form.status }}</p>
</div>
